@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 align-self-center">
        <h1 class="mt-5">Welcome</h1>
        <div class="jumbotron">
            <div class="row">
                <div id="taco-text" class="col">
                    <h1 class="display-4">Sum of All Fears</h1>
                    <p class="lead">It's another array game baby</p>
                </div>
            </div>
            <hr class="my-4">
            <p class="card-text">
                The Sum of all fears coding challenge is intended to assess a candidate’s ability to work with Arrays. This challenge or a slight variation has been used by technology companies such as Amazon and Google and was also featured as a Daily Coding Problem in dev.to.
            </p>
            <p class="card-text">
                Given a list of numbers and a number K, return whether any two numbers from the list add up to K. Example: given [10, 15, 3, 7] and K of 17, return true since 10 + 7 is 17.
                The basic challenge is to write a program that uses a hard-coded array of [10, 15, 3, 7] and allows the user to enter a value for K before running the algorithm and returning true or false.
            </p>
        </div>
    </div>
</div>