@{ 
    ViewData["Title"] = "Solution";
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <p>See if any two numbers add up to the 'K' value.</p>
</div>

<div class="row">
    <code>array = [10, 15, 3, 7]</code>
</div>

<div class="row">
    <form asp-action="Solution">
        <input name="k" type="number" min="1" max="100" placeholder="K..." oninput="validity.valid || (value = '');" />
        <button type="submit">Submit</button>
    </form>
</div>

<div class="row">
    @ViewData["Data"]
</div>